*
!*.*
!*/
!LICENSE

/*.exe

.DS_Store
*.pyc
/.idea/
/.eggs/
/stockfish.egg-info/
/.mypy_cache/
/.pytest_cache/
__pycache/
/build/
/dist/
/venv/
*/__pycache__
*/*/__pycache__
coverage.xml
.coverage
docs/